#listingPics{
	height: 420px;		
	box-shadow: 0 0 18px 1px #F7F7F7;
	padding: 4px;
	border: 1px solid #DDD;
	background: #ECECEC;
}
#listingPics img{
	display: block;
	margin: auto;
	height: 100%;
}

#listingPics > *{
	height: 100% !important;
}

h1#listingName{
	color: #666;
	font-size: 24px;
}

#info_panel, #buy{
	margin-left: 40px;
	border-radius: 2px;
	border: 1px solid #EEE;
}

#info_panel > section{
	padding: 5px 10px 10px 10px;
	margin-bottom: 5px;
}

#info_panel > section div.user_info{
	width: 30%;
	float: left;
}

#info_panel > section div.user_info+div{
	width: 65%;
	margin-left: 5%;
	float: left;
	padding: 10px 0;
}

#info_panel > section div.user_info+div > a{
	display: block;
	text-align: center;
	font-size: 11px;
	padding: 5px 0;
	border-bottom: 1px solid #F1F1F1;
}

#info_panel section span.typicn{
	font-size: 22px;
	margin-top:5px;
	float: left;
	display: block;
}

div.user_info{
	text-align: center;
}

#info_panel > section > h3.subheader{
	font-size: 11px;
	border-bottom: 1px solid #DDD;
	padding: 5px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	margin: 5px 0 20px 0;
}

#social{
	text-align: center;
}

#description{
	margin-bottom: 20px;
}

#map { height: 160px; }

#MessageViewlistingForm input[type="submit"]{
	margin-top: 10px;
}

#reviews{
	padding: 10px 40px;
	border-top: 1px solid #DDD;
	margin-top: 60px;
}

#buy{
	background: #FFF;
	padding: 15px 0;
	margin-bottom: 5px;
}

#buy .price{
	float: left;
	width: 45%;
	font-size: 32px;
	color: #666;
	text-align: center;
	padding-top: 17px;
}
#buy .price+div{
	float: left;
	width: 55%;
	text-align: center;
	padding: 0 10px;
}

#buy .price+div > a{
	display: block;
	border-radius: 3px;
	color: #FFF;
	padding: 5px;
	font-size: 12px;
}

#buy .price+div > a.buyNow{
	background: #88c132; /* Old browsers */
background: -moz-linear-gradient(top, #88c132 1%, #69a426 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#88c132), color-stop(100%,#69a426)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #88c132 1%,#69a426 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #88c132 1%,#69a426 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #88c132 1%,#69a426 100%); /* IE10+ */
background: linear-gradient(to bottom, #88c132 1%,#69a426 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c132', endColorstr='#69a426',GradientType=0 ); /* IE6-9 */
	margin-bottom: 5px;
	border: 1px solid #88c132;
}
#buy .price+div > a.tradeNow{
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

#buy .price > div.shipping{
	margin-top: 5px;
	font-size: 11px;
	color: #AAA;
}

.favoriteadd{
	border: 1px solid #EFEFEF;
	background: #ebf9fe;
	padding: 7px 4px 4px 4px;
	border-radius: 4px;
	float: left;
	margin: -4px 10px 0 0;
}

.addfavorite .heart, .addfavoriteused .heart, .addfavoritedisabled .heart{
	display: block;
}

#description{
	margin-top: 35px;
	font-size: 10pt;
	color: #6c6c6c;
}

a#edit{
	background: #0099CC;
	color: #FFF;
	display: inline-block;
	padding: 10px 20px;
}

a#edit:hover{
	background: #87CEEB;
}

.avatar{
	border-radius: 7px;
}