/* Shahruk Khan  */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* -----------------------------------------

----------------------------------------- */

.columns, .column{
	padding: 0;
}

/* STICKY FOOTER */
html, body {
	height: 100%;
}

.row .row {
	margin: 0;
}

.boxngo_wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push{
height: 80px;
}

a img{
	border: none;
}

form{
	margin: 0;
}	
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html, body{
	line-height: 1.5em;
	width: 100%;
	word-break: break-word;
	font-family: "Open Sans", "Arial", sans-serif;
}
#sitenotice{
	font-size: 11px; 
	float:left; 
	padding: 4px 30px;
}

.social{
	margin-top: 0px;
	width: 20px;
	height: 20px;
}
div.wrapper{
	min-width: 960px;
	width: 100%;
	max-width: 1140px;
	margin: auto;
}

#user_container{
	position: relative;
	font-size: 11px;
	display: inline-block;
}
#user_menu{
	width: 320px;
	z-index: 10;
	list-style: none;
	overflow: hidden;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	position: absolute;
	-moz-box-shadow: 0 0 4px #272725;
	-webkit-box-shadow: 0 0 4px#272725;
	box-shadow: 0 0 4px #272725;
	z-index: 10;
	background: url('/img/dark_transparent.png') repeat;
	max-height: 0px;
	margin-left: -100px;
}

#SearchQuery{
	margin-left: 10px;
}

#user_menu > li > a{
	color: #CCC;
	padding: 20px 8px;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	border: solid 1px #222423;
	border-width: 0 0 1px 0;
	height: auto;
	text-align: left;
	display: block;
	font-size: 10px;
	transition: background .4s;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
	-o-transition: background .4s;
}

#user_menu > li div.subtext{
	font-size: 11px;
}

#user_menu > li > a:hover{
	background: #3299CC;
}

#user_menu > li h2{
	color: #FFF;
	border-style: none;
	font-size: 9pt;
	margin: 0;
	margin-bottom: 5px;
}

#user_menu > li i[class^="icon-"]{
	display: block;
	font-size: 32px;
	margin: auto;
	color: #FFF;
}

#user_menu .row{
	min-width: 0;
}
#user_menu .row > div:first-child{
	margin: 10px 0;
}

#user_container:hover #user_menu, #user_menu:hover{
	max-height: 500px;
}

div#content.wrapper{
	margin-top: 20px;
}

#userMessageNotification{
	text-align: right;
	padding-right: 40px;
}

#search_container{
	padding-left: 10px;
}

header{
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #DDD;
}

footer{
	width: 100%;
	background: #F7F7F7;
	border-top: 1px solid #DDD;
	padding: 20px 0;
	
}

footer > div{
	font-size: 14px;
	color: #AAA;
}

footer > div > a{
	display: inline-block;
	margin-right: 24px;
}

footer a.support{
	float: right;
	color: #ff4444;
}

footer a.support:hover{
	color: #f55656;
}

#logo{
	padding: 4px 0;
	text-transform: uppercase;
	font-size: 19px;
	height: 35px;
	color: #B5E01B;
	font-weight: 800;
}

#logo a{
	color: inherit;
}

#logo span.emphasis {
	color: #FF8400;
	padding-left: 4px;
}

#actions{
	text-align: right;
	margin-top: -3px;
	padding-right: 40px;
}

#actions #login, #actions #register{
	display: inline-block;
	margin-left: 20px;
	color: #666;
	font-weight: 700;
	font-size: 12px;
}

#actions #register{
	color: #EB6841;
}

#actions #register:hover{
	color: #CC333F;
}

#actions #logout, #actions #logout > a{
	display: inline-block;
	font-size: 11px;
}
header > div.wrapper > nav{
	background: #FAFAFA;
	height: 60px;
	border-radius: 4px;
	overflow: hidden;
}

#sell{
	display: block;
	text-align: center;
	position: relative;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	background: #EB6841;
	padding: 17px 0;
	margin-top: -10px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	transition: background .4s;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
	-o-transition: background .4s;
}

#sell:hover{
	background: #3299CC;
}

#sell i{
	font-size: 28px;
	float: left;
	display: block;
	margin-left: 30px;
	margin-right: -10px;
}

header > div.wrapper > nav > div{
	height: 100%;
	padding: 14px 15px 15px 15px;
	position: static;
}

header > div.wrapper .link{
	padding: 0;
}

header > div.wrapper .link .notification{
	position: absolute;
	top: 5px;
	right: 20px;
	padding: 0;
	font-size: 11px;
	background: red;
	display: inline-block;
	padding: 3px 5px 2px 5px;
	color: #FFF;
	border-radius: 5px;
	line-height: 11px;
	height: auto;
}

.home_link > span{
	font-size: 32px;
}

.addfavorite .heart, .addfavoriteused .heart, .addfavoritedisabled .heart{
	display: block;
	margin-top: 3px;
	font-size: 28px;
	color: #f9a59a;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.addfavorite .heart:hover {
	color: #e71212;
}
.addfavoriteused .heart {
	color: red;
}
span.notification{
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 11px;
	background: red;
	display: inline-block;
	padding: 3px 5px 2px 5px !important;
	color: #FFF;
	border-radius: 5px;
	line-height: 11px;
	height: auto !important;
}

header span.notification{
	right: 15px;
}

.blog_post{
	margin-top: 15px;
	border: 6px solid #DADADA;
	border-radius: 15px;
	padding: 15px;
}

.blog_post:first-child{
	margin-top: 30px;
	border: 6px solid #EB6841;
}

.blog_post > a{
	display:  block;
	color: #000;
	font-weight: bold;
	font-size: 9pt;
}

.blog_post > span.date{
	display: block;
	text-align: right;
	color: #0899FF;
	font-size: 11px;
}

.blog_post .excerpt{
	font-size: 8pt;
	color: #999;
	font-style: italic;
	line-height: 1.6em;
}
/* -----------------------------------------
   Forms
----------------------------------------- */
div.error-message{
	color: red;
	font-size: 9pt;
}

.session_error{
	color: #a21818;
	background: #f8a4a4;
	border: 2px solid #e92626;
}

.session_success{
	color: #1866a2;
	background: #a4d3f8;
	border: 2px solid #2699e9;
}

.session_warning{
	color: #C09853;
	background: #FCF8E3;
	border: 2px solid #FBEED5;
}
.session_success, .session_error, .session_warning{
	padding: 20px;
	margin: 10px 0;
	font-size: 14pt;
}
span.custom.radio{
	display: inline-block; 
	margin-left: 10px;
	margin-right: 10px;
}	

form.custom span.custom.radio.checked::before{
	width: 8px;
	height: 8px;
	top: 3px;
}

form input[type="submit"], .usermessage{
	-webkit-appearance: none;
	margin: 20px;
	padding: 12px 18px;
	display: inline-block;
	float:right;
	background: transparent;
	border:none;
	color: white;
	font-weight: 700;
	font-size: 14px;
	transition: background .4s;
	-webkit-transition: background .4s;
	-moz-transition: background .4s;
	-o-transition: background .4s;
	background: #0899FF;
	border-radius: 4px;
}

form input[type="submit"]:hover, .usermessage:hover{
	cursor: pointer;
	background: #FF7E00;
}

.usermessage{
	margin: 0;
	padding: 4px 12px;
	font-size: 11px;
	line-height: 1.8em;
}

.usermessage:hover{
	color: #FFF;
}

.read-less, .read-more{
	display: block;
	font-size: 11px;
}

.read-less > a:before, .read-more > a:before{
	content: '[';
}

.read-less > a:after, .read-more > a:after{
	content: ']';
}

#userMessageNotification a{
	font-size: 11px;
	color: #CCC;
}

#userMessageNotification a span{
	color: red;
}

.reveal-modal{
	z-index: 1000;
}

form input[type="submit"].mainpage{
	float: none;
	-webkit-appearance: none;
	display:block;
	margin: 0;
	margin-left: 15px;
	margin-top: -2px;
	padding: 10px 24px;
	background: #a2cf02;
}

form input[type="submit"].mainpage:hover{
	background: #97c007;
}
.favoritemessage{
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 15px;
	border: 2px solid #ECECEC;
	border-width: 0 0 2px 0;
	z-index: 20;
	text-align: center;
	background: #FF8400;
	color: #FFF;
	-webkit-box-shadow: inset -0px 1px 1px #b9dbfb;
	-moz-box-shadow: inset -0px 1px 1px #b9dbfb;
	box-shadow: inset -0px 1px 1px #b9dbfb;
	
}

.deletebutton{
	margin: 20px;
	padding: 12px 18px;
	display: inline-block;
	float: left;
	background: red;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 14px;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	border-radius: 4px;
}

.deletebutton:hover{
	background: #444;
	color: #FFF;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

[class*="column"] + [class*="column"]:last-child {
	float: left;
}