
/*  Overall page styling  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body {
  font-size: 18px;
  font-family: ubuntu', 'myriad pro;
  margin: 0;
  padding: 0
}

/*  Custom site specific header  */
header {
  background: #0082d7;
  padding: 10px 20px
}
header nav {
  text-align: right;
  max-width: 952px;
  margin: 0 auto
}
header a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px
}
header .is-active {
  color: #00a9ff
}

/*  Moot header with dark background color  */
.m-header {
  background-color: #005b97;
  background-image: -moz-linear-gradient(top, #005b97,#fff, 44%);
  background-image: -webkit-linear-gradient(top, #005b97,#fff, 44%);
  background-image: linear-gradient(top, #005b97,#fff, 44%)
}

/*  Light navi links suitable for dark background  */
.m-header a, .m-nav-account .m-name {
  color: #ddd
}
.m-header a:hover, .m-nav-account .m-name:hover {
  color: #fff
}
.m-header a.m-selected, .m-nav-account .m-name.m-selected {
  color: #333 !important
}
@media (min-width: 980px) {

  /*  Dark sidebar.  */
  .m-sidebar {
    background: #002741;
    margin-top: -1.2em;
    padding-top: 2em
  }

  /*  Light colored content over dark sidebar  */
  .m-sidebar .m-nav-spam {
    border-top-color: #666
  }
  .m-sidebar .m-has-new {
    color: #fff
  }
  .m-sidebar a:hover {
    background-color: #666;
    color: #eee
  }
  .m-sidebar a.m-selected {
    background-color: #fff;
    color: #000
  }
  .m-sidebar h3 {
    color: #ddd
  }
}