h2.subject{
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 8px;
}

span.date{
	display: block;
	text-align: left;
	color: #999;
	font-style: italic;
	font-size: 11px;
}

.dashwrapper > div.messages{
	border-bottom: none;
}

.messages{
	margin-bottom: 20px;
}

.messages > div.message_individual.alternative{
	background: #EBF8FF;
}

div.message_individual{
	border-bottom: 1px solid #DDD;
}