#CourseQuery.loading{
	background: url('/img/ajax-loader.gif') no-repeat 98%;
}

#content.wrapper .row {
	padding: 0;
}

#content.wrapper .columns {
	padding: 0;
}
#content.wrapper.bordered{
	background: #FAFAFA;
	border-radius: 5px;
	border: 1px solid #ECECEC;
}
#content.wrapper > div.row >.columns{
	padding: 20px;
}

.book_listings > .listing{
	padding-left: 10px;
}

#content.wrapper div.row .columns:first-child{
	background: #FFF;
}

#content.wrapper .main_books > h1{
	font-size: 18px;
	color: #666;
	border-bottom: 3px solid #f97750;
	padding-bottom: 10px;
	margin: 0 0 20px 0;
}

#content.wrapper > div.row .similar_classes{
	padding: 0 20px;
}
#content.wrapper .similar_classes > div{
	border-bottom: 1px solid #EDDDDD;
	padding: 15px 0;
	font-size: 11px;
}

.accordion .book_image img{
	max-height: 200px;
	display: block;
	margin: auto;
}

#content.wrapper .accordion .row {
	margin: 0;
}

.accordion .book_image h1.subheader{
	font-size: 16px;
	margin: 4px 0;
}

.book_listings a{
	font-size: 11px;
}

.listing h1.listing_title a {
	margin-top: 4px;
}

.book_image{
	text-align: center;
}

#content.wrapper .accordion .active .content > .row > .columns:first-child{
	border-right: 1px solid #DDD;
	padding: 0;
	padding-right: 15px;
}

#content.wrapper .accordion .active .content > .row > .columns:last-child{
	padding: 0;
	padding-left: 12px;
}

.panel.callout{
	background: #B4EEB4;
	border: 1px solid #86C67C;
	border-radius: 6px;
}

.usermessage{
	padding: 12px 18px;
	margin-bottom: 10px;
}

.usermessage {
	font-size: 9pt;
	margin-top: 20px;
}

.category > .price{
	float: right;
	color: #EB6841;
	font-size: 9pt;
	display: block;
}

.concierge_image{
	background-size:100%;
	position: relative;
	height: 561px;
}

#ConciergeSearch{
	position: absolute;
	width: 100%;
	top: 450px;
	padding: 20px;
	background: rgba(0,0,0,.5);
}

#ConciergeSearch input[type="submit"]{
	float: none;
	margin: 0;
	margin-left: 20px;
	padding: 12px 30px;
}
#ConciergeSearch input[type="text"]{
	margin: 0;
	height: 40px;
	overflow: hidden;
}

.try{
	text-align: center;
	color: #FFF;
	padding-top: 10px;
}