h3{
	border-bottom: 1px solid #DDD; 
	padding-bottom: 7px;
}

#referFriend{
	background: #E2FCC7;
	border: 1px dashed #333;
	padding: 20px 0;
	margin: 20px auto;
}

#referFriend > h4{
	margin-top: 0;
}

#referFriend ol {
	margin-top: 20px;
}

#referFriend #friends{
	text-align: center;
}

#referFriend #friends .stat{
	font-size: 11px;
	text-transform: uppercase;
	color: #777;
}


#earnPoints > div{
	padding: 20px;
	border: 1px solid #DDD;
	-moz-box-shadow: 0 0 1px #EEE;
	-webkit-box-shadow: 0 0 1px #EEE;
	box-shadow: 0 0 1px #EEE;
	margin-bottom: 10px;
}

#earnPoints .points{
	float: right;
	color: #FFF;
	background: #1B7AE0;
	padding: 9px 40px;
	border-radius: 6px;
}

#randomPoints{
	background: #C9EDFF;
	margin: 20px auto;
	padding: 20px 0;
}

#freeMillz{
	margin: 10px auto;
	display: none;
}

.center{
	text-align: center;
}
