.jSlots-wrapper {
	overflow: hidden;
	display: block;
	height: 170px;
	text-align: center;
}
.slot {
	display: inline-block;
}

.slot li{
	list-style-type: none;
	font-size: 120px;
}

#done{
	display: none;
}


