#ordersummary{
	background: #fff3dd; 
	border: 1px solid #d9d2c3; 
	border-radius: 4px;
}

#ordersummary > h1{
	color: #65615a; 
	font-size: 11px; 
	padding: 15px; 
	line-height: 1em; 
	margin: 0; 
	border-bottom: 1px solid #ebdfc7;
}

#ordersummary *{
	font-size: 11px;
}
#ordersummary > *{
	padding: 13px;
	border-bottom: 1px solid #EBDFC7;
}
.value{
	float: right;
	width: 55%;
}

.pricinginfo{
	font-weight: 700;
	font-size: 13px;
}

#content.wrapper .columns{
	padding: 20px;
}

h1.step{
	float: left;
	color: #FFF;
	width: 25%;
}

.steps_container{
	padding: 20px;
}
.steps_container > div{
	background: #FF8400;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 30px;
}

.info_panel{
	border-radius: 20px;
	padding: 10px 30px;
	background: #FFF;
	width: 75%;
	float: left;
	color: #888;
	font-size: 11px;
}

.info_panel h2{
	font-size: 14px;
	color: #FF8400;
	text-align: center;
}

.actions{
	text-align: center;
	margin-top: 10px;
}
.actions a{
	display: inline-block;
	border: 1px solid #DDD;
	padding: 2px 10px;
}

.actions a.cancel{
	color: red;
	margin-left: 20px;
}

.actions a:hover{
	background: #EEE;
}

form input[type="submit"]{
	margin: 0;
	padding: 8px 12px;
}

span.cancelled, span.accepted{
	color: red;
	border: 1px solid red;
	text-transform: uppercase;
	padding: 4px 10px;
}

span.accepted{
	color: #47ABE5;
	border: 1px solid #47ABE5;
	
}