.dashwrapper > form > .row{
	border: 1px solid #ECECEC;
	border-width: 0px 0 1px 1px;
	padding: 20px 40px;
	background: #F7F7F7;
	border-bottom: 1px solid #DDD;
}

span.detail{
	display: block;
	font-style: italic;
	font-size: 11px;
	color: #777;
}

#UserProfilepic{
	display: none;
}