.dashwrapper > div.listing_purchase{
	padding: 10px 10px 10px 10px;
	font-size: 12px;
}

.process{
	text-align: right;
	
	color: #CCC;
}

.process > div > span{
	display: inline-block;
}

.process > div > span.current{
	color: #0188cc;
}

.process div span{
	font-size: 12px;
}

a.manageorderButton{
	border-bottom: 1px solid #EEE;
	padding-bottom: 4px 8px;
	margin-bottom: 4px;
	display: inline-block;
	font-size: 12px;
}

.listing_purchase > .columns:first-child{
	padding-right: 10px;
}
