.dashwrapper > div.listing_purchase{
	padding: 10px 10px 10px 10px;
}

.dashwrapper .totalPrice{
	font-size: 14px;
	color: #2BA6CB;
	font-weight: 800;
}

.process{
	text-align: right;
	
	color: #CCC;
}

.process > div > span{
	display: inline-block;
}

.process > div > span.current{
	color: #0188cc;
	font-weight: 700;
}

.process span.typicn{
	float: left;
	margin-top: 0;
	margin-right: 12px;
	font-weight: 300;
}

a.manageorderButton{
	border-bottom: 1px solid #DDD;
	padding-bottom: 4px;
}