#profile_feed{
	padding-left: 20px;
}

.feedback_section{
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	font-size: 12px;
}
#feedback{
	height: 26px;
	border-radius: 3px;
	width: 26px;
	float: left;
	margin-top: -3px;
	margin-right: 5px;
}

#content .row {
	margin: 0;
}

div.status.panel{
	background: #fff6cd;
}

#sendUserMessage{
	font-size: 14px;
	text-align: center;
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px dashed #DDD;
}

#sendUserMessage > i{
	color: red;
}

.userInfo{
	text-align: center;
}