#content.wrapper{
	background:  url('/img/america.jpg');
}
h1{
	color: #FFF;
	text-align: center;
}

.promotion_info{
	background: rgba(255,255,255,.9);
	padding: 20px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}