@import url(http://fonts.googleapis.com/css?family=Arvo);

#content_container{
	background: url('/images/bg/skybg.jpg') 0 -290px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EEE;
}

#guest_links{
	float: right;
}

a#logo{
	display:block;
	margin-top: 10px;
}

#guest_links > a{
	margin-top: 3px;
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
}

#register{
	float: none;
	background: #82d738;
	border: 1px solid #549919;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-transform: uppercase;
	text-shadow: 0 1px #666;
}

#register:hover{
	border: 1px solid #3b6616 !important;
}

#register:active{
	box-shadow: inset 0px 0px 5px #888;
}

#main_content{
	margin-top: 40px;
}

#main_content h1{
	font-family: "Arvo", "Arial", serif;
	font-size: 40px;
	color: #173963;
	text-shadow: 0 1px 2px #888;
	margin-top: 0;
	margin-bottom: 20px;
}

#main_content h2{
	color: #666;
	font-size: 16px;
	line-height: 1.5em;
	font-weight: bold;
}

#collectionHome{
	padding-left: 100px;
}

#collectionHome img, #collectionHome .note_block{
	display: block;
	padding: 2px;
	border: 1px solid #EEE;
	border-right: none;
	border-bottom: none;
}

#collectionHome .row .columns:last-child img, #collectionHome .note_block{
	border-right: 1px solid #EEE;
}

#collectionHome .row:last-child img, #collectionHome .note_block{
	border-bottom: 1px solid #EEE;
}

a#buyAndSell{
	margin-top: 60px;
	display: block;
	background: #FF8400;
	text-align: center;
	border-radius: 4px;
	color: #FFF;
	padding: 20px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #d87409;
}

a#buyAndSell:hover{
	background: #ff8a00;
}

a#buyAndSell:active{
	box-shadow: inset 0px 0px 4px #888;
}

div.asterisk{
	font-size: 11px;
	color: #777;
	margin-top: 25px;
}

#features_body{
	margin-top: 20px;
}

.feature.row{
	margin-bottom: 20px;
	height: 160px;
}

.feature .columns{
	font-size: 13px;
	color: #666;
}
.feature i{
	display: block;
	font-size: 80px;
	text-align: center;
	color: #0b5c86;
	margin-top: 15px;
}

.feature h3{
	color: #333;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#collectionHome .note_block{
	display: block;
	text-align: center;
	padding: 2px;
}

#collectionHome .note_block > div{
	background: #acd225;
	font-size: 24px;
	color: #FFF;
	padding-top: 25px;
}

#collectionHome .note_block > a:hover{
	background: #ff8400;
}

#collectionHome .note_block span.small{
	display: block;
	font-size: 12px;
	margin-top: 10px;
	text-transform: uppercase;
}

#browse_note > a{
	padding: 2px;
	background: #009cff;
	display: block;
	color: #FFF;
	padding-top: 15px;
	font-size: 16px;
	text-transform: uppercase;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

#recent_activity{
	max-height:460px;
	padding-left: 5px;
}