@import url(http://fonts.googleapis.com/css?family=Arvo);

#content{
	margin: 0;
	background: url('/images/bg/spring.jpg') no-repeat 0 -600px;
	border: 1px solid #EEE;
	border-width: 1px 0 1px 0;
}

h1.faq{
	text-align: center;
	margin-bottom: 1em;
}

.question_answer .question{
	color: #EB6841;
	font-weight: 800;
}

#contactus{
	position: relative;
}
#contactus > div.contact_card{
	margin: 150px 10px 10px 40px;
	padding: 10px 20px;
	border-radius: 9px;
	border: 2px solid #008CD4;
	display: block;
}

#contactus h1{
	font-size: 18px;
	text-transform: uppercase;
	color: #008CD4;
	margin: 5px 0;
}

.aboutus{
	background: url('/images/bg/about.jpg') no-repeat 0 -500px;
	border-radius: 4px;
	height: 300px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.aboutus section{
	position: absolute;
	bottom: 0;
	background: rgba(255,255,255,.7);
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	padding: 20px;
	width: 100%;
	font-size: 24px;
	font-style: italic;
	color: #444;
}

.aboutcontent{
	padding: 15px 20px;
	font-size: 16px;
	border-bottom: 2px dashed #ECECEC;
	margin-bottom: 20px;
}

.bearhome{
	background: url('/images/bearhome.png') no-repeat;
	width: 387px;
	float: left;
	height: 463px;
}
.content_portion, .row.otherlistings{
	margin-left: 400px;
	background: #008cd4;
	color: #FFF;
	border-radius: 9px;
	padding: 20px;
}
.content_portion > h1.subheader{
	text-align: center;
	color: #FFF;
	margin-bottom: 4px;
	line-height: 1em;
}

.content_portion > div.subheader{
	color: #FFF;
	background: #34b0f0;
	padding: 20px;
	margin-top: 25px;
	border-radius: 8px;
	line-height: 1.4em;
}

.content_portion > h1.subheader.features{
	font-size: 24px;
}
.bottom_portion{
	padding: 10px 20px;
}
.bottom_portion > div > h1{
	font-family: 'Arvo', serif;
	text-align: center;
	color: #033752;
}

.listing_container{
	background: #FFF;
}

.listing .listing_box {
	color: #000;
}

div#content.wrapper{
	margin-top: 0;
}

#content > .row{
	margin: 0;
}	

.columns{
	padding: 0;
}

#content.wrapper {
	padding: 0;
}

#categories{
	padding-right: 20px;		
}

#categories nav{
	border: 1px solid #ECECEC;
	border-radius: 9px;
	overflow:hidden;
}

#categories nav ul{
	margin: 0;
}

#categories nav li{
	display: block;
}

#categories nav a{
	display: block;
	padding: 10px 0;
	background: #FEFEFE;
	font-size: 12px;
	padding-left: 40px;
	transition: all .1s;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
}

#categories nav a:hover{
	background: #f9833d; /* Old browsers */
	background: -moz-linear-gradient(top, #f9833d 0%, #fc804b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9833d), color-stop(100%,#fc804b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9833d 0%,#fc804b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9833d 0%,#fc804b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9833d 0%,#fc804b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9833d 0%,#fc804b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9833d', endColorstr='#fc804b',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}

#categories nav div.header{
	font-weight: bold;
	background: #EEE;
	padding: 10px 0;
	padding-left: 23px;
	color: #666;
	-webkit-box-shadow: inset 0 0 0.2em rgba(255, 255, 255, 0.5),0 1px 2px rgba(0, 0, 0, 0.15),0 0 0 black;
	-moz-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
	box-shadow: inset 0 0 0.2em rgba(255, 255, 255, 0.5),0 1px 2px rgba(0, 0, 0, 0.15),0 0 0 black;
}

#categories nav .header span.typicn{
	display: block;
	float: left;
	padding: 1px 2px 0 0;
}

#listings{
	margin-top: 10px;
}

#listings .row{
	margin: 0;
	border: 1px solid #EEE;
	border-top: none;
}

#listings > .row:first-child{
	border-top: 1px solid #EEE;
}
#listings .row .columns{
	padding: 25px 15px;
	border-right: 1px solid #EEE;
}

#listings > .row > .columns:nth-child(4n){
	border: none;
}

img#coverBanner{
	display: block;
	width: 100%;
}

.listing a.image_container > img {
	height: auto;
}

.listing a.image_container {
	display: block;
	height: auto;
}

.listing h1.listing_title a {
	display: block;
	margin: 10px 0 1px 0;
}

#listings .userlisted .typicn.user{
	background: #7dbeda;
	height: 18px;
	overflow: hidden;
	color: #FFF;
	display: block;
	float: left;
	padding: 0px 2px;
	font-size: 10pt;
	margin-right: 5px;
	margin-top: 1px;
	border-radius: 4px;
}

#listings .userlisted{
	font-size: 11px;
}

#listings .category a{
	color: #BBB;
	font-size: 11px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
}

#listings .category a:hover{
	color: #888;
	text-decoration: underline;
}

#listings .category span.price{
	color: #EB6841; 
	font-size: 9pt; 
	display:block; 
	float:right;
}

#content > div.wrapper{
	position: relative;
}
#welcome_container{
	float: left;
	width: 35%;
	padding: 10px;
	margin-top: 10px;
}

#boxngo_intro{
	padding: 10px 0;
	text-align: center;
	float: left;
	width: 55%;
	margin-right: 10%;
	margin-top: 35px;
	color: #FFF;
}

#boxngo_intro > h1{
	color: #333;
	font-weight: lighter;
	text-shadow: 0px 1px 1px #888;
	color: #222;
	font-size: 30pt;
	margin-bottom: 20px;
	font-family: 'Arvo', serif;
}
#boxngo_intro > h2{
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 1.5em;
	color: #AAA;
	text-align: left;
	font-weight: lighter;
}

#boxngo_intro span.feature{
	display: inline-block;
	text-transform: uppercase;
	padding: 0 20px;
	color: #CCC;
	font-size: 9pt;
	border-right: 1px solid #FFF;
}

#boxngo_intro span.feature:last-child{
	border: none;
}

.feature .feature_text{
	text-align:left;
	padding-top: 10px;
}

.feature .feature_text h3{

}
.enlarge{
	font-size: 64pt;
}

#welcome_container .row{
	min-width: 0;
}


form#UserDisplayForm{
	margin-top: 35px;
}

form#UserDisplayForm label[for="UserAccepttos"] {
	display: inline-block;
	margin-left: 10px;
}

label[for="UserAccepttos"]+div.error-message{
	display: inline-block;
	position: absolute;
	margin-top: 2em;
	left: 110px;
}

a.loginFacebookButton{
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
	background: url('/images/social/facebook_login.png') no-repeat;
	width: 192px;
	height: 33px;
}

.features.wrapper{
	margin: 20px auto;
}

.features .columns{
	padding: 10px 20px;
}
.features div{
	text-align: left;
	font-size: 10pt;
	color: #888;
}
.features .columns h2, .features .columns i{
	font-size: 20px;
	display: block;
	color: #EB6841;
	margin: 0;
}

.features .columns h2{
	margin-left: 10px;
	margin-bottom: 8px;
}

a#browse{
	display: block;
	font-family: "Arvo", serif;
	font-size: 26px;
	color: #FFF;
	background: #96c56f ;
	padding: 30px;
	width: 100%;
	margin: 120px auto 40px auto;
	border-radius: 9px;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
}

a#browse:hover{
	-moz-box-shadow: 0 0 15px #FFF;
	-webkit-box-shadow: 0 0 15px#FFF;
	box-shadow: 0 0 15px #FFF;
}

a#browse > i{
	float: right;
	margin-top: -4px;
}

#boxngo_intro > .feature i{
	font-size: 60px;
	display: block;
	color: #EB6841;
	margin-top: 25px;
}

#boxngo_intro > .feature h2{
	font-size: 18px;
	text-align: left;
	margin: 0;
	margin-bottom: 5px;
}

#boxngo_intro div.columns{
	color: #666;
	font-size: 13px;
	text-align: left;
}

#boxngo_intro div.two.columns{
	text-align: center;
}

#boxngo_intro .row{
	min-width: 0;
	margin: 35px 0;
}

form input[type="submit"]{
	margin: 0;
}